<!DOCTYPE html>
<html>
    <head>
        <title>Photos</title>
        <!-- Main CSS File -->
        <link rel="stylesheet" href="css/pictures.css" type="text/css">
        <!-- Add fancyBox CSS -->
        <link rel="stylesheet" href="css/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/fancybox/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/fancybox/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />

    </head>
    <body>
        <header>
            <div class="container">
                <nav id="navbar"></nav>
            </div>
        </header>
        <section id="main">
            <div class="container">
                <ul id="gallery">
                    <li data-tags="Colorado"><a class="fancybox" href="/assets/photo1.jpg" title="" rel="group"><%= image_tag "photo1.jpg"%></a></li>
                    <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo40.jpg"><%= image_tag "photo40.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo2.jpg"><%= image_tag "photo2.jpg"%></a></li>
                    <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo48.jpg"><%= image_tag "photo48.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo4.jpg"><%= image_tag "photo4.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo6.jpg"><%= image_tag "photo6.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo31.jpg"><%= image_tag "photo31.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo10.jpg"><%= image_tag "photo10.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo11.jpg"><%= image_tag "photo11.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo14.jpg"><%= image_tag "photo14.jpg"%></a></li>
                    <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo36.jpg"><%= image_tag "photo36.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo15.jpg"><%= image_tag "photo15.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo16.jpg"><%= image_tag "photo16.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo17.jpg"><%= image_tag "photo17.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo18.jpg"><%= image_tag "photo18.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo19.jpg"><%= image_tag "photo19.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo20.jpg"><%= image_tag "photo20.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo12.jpg"><%= image_tag "photo12.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo21.jpg"><%= image_tag "photo21.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo7.jpg"><%= image_tag "photo7.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo22.jpg"><%= image_tag "photo22.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo23.jpg"><%= image_tag "photo23.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo3.jpg"><%= image_tag "photo3.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo24.jpg"><%= image_tag "photo24.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo25.jpg"><%= image_tag "photo25.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo27.jpg"><%= image_tag "photo27.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo5.jpg"><%= image_tag "photo5.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo28.jpg"><%= image_tag "photo28.jpg"%></a></li>
                    <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo42.jpg"><%= image_tag "photo42.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo29.jpg"><%= image_tag "photo29.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo30.jpg"><%= image_tag "photo30.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo32.jpg"><%= image_tag "photo32.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo13.jpg"><%= image_tag "photo13.jpg"%></a></li>
                    <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo41.jpg"><%= image_tag "photo41.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo33.jpg"><%= image_tag "photo33.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo34.jpg"><%= image_tag "photo34.jpg"%></a></li>
                    <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo35.jpg"><%= image_tag "photo35.jpg"%></a></li>
                    <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo37.jpg"><%= image_tag "photo37.jpg"%></a></li>
                    <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo38.jpg"><%= image_tag "photo38.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo9.jpg"><%= image_tag "photo9.jpg"%></a></li>
                    <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo39.jpg"><%= image_tag "photo39.jpg"%></a></li>
                    <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo43.jpg"><%= image_tag "photo43.jpg"%></a></li>
                    <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo26.jpg"><%= image_tag "photo26.jpg"%></a></li>
                    <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo44.jpg"><%= image_tag "photo44.jpg"%></a></li>
                    <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo45.jpg"><%= image_tag "photo45.jpg"%></a></li>
                    <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo8.jpg"><%= image_tag "photo8.jpg"%></a></li>
                    <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo46.jpg"><%= image_tag "photo46.jpg"%></a></li>
                    <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo47.jpg"><%= image_tag "photo47.jpg"%></a></li>
                </ul>
            </div>
        </section>




        <!-- Include JQuery -->
        <script src="javascripts/jquery.js"></script>
        <!-- Quicksand Plugin -->
        <script src="javascripts/jquery.quicksand.js"></script>
        <!-- Fancybox Js -->
        <script type="text/javascript" src="javascripts/fancybox/Jquery.fancybox.pack.js?v=2.1.5"></script>
        <script type="text/javascript" src="javascripts/fancybox/Jquery.fancybox-buttons.js"></script>
        <script type="text/javascript" src="javascripts/fancybox/Jquery.fancybox-media.js?v=1.0.6"></script>
        <script type="text/javascript" src="javascripts/fancybox/Jquery.fancybox-thumbs.js?v=1.0.7"></script>

        <!-- Include Custom JS -->
        <script src="javascripts/script.js"></script>
        <script>
            //Call Fancybox
            $(document).ready(function(){
                $(".fancybox").fancybox();
            });
        </script>
    </body>
</html>