<ul id="gallery">
     <li data-tags="Colorado"><a class="fancybox" href="/assets/photo1.jpg" rel="group"><%= image_tag "photo1.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo101.jpg"><%= image_tag "photo101.jpg"%></a></li>
     <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo40.jpg"><%= image_tag "photo40.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo2.jpg"><%= image_tag "photo2.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo91.jpg"><%= image_tag "photo91.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo92.jpg"><%= image_tag "photo92.jpg"%></a></li>
     <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo48.jpg"><%= image_tag "photo48.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo77.jpg"><%= image_tag "photo77.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo78.jpg"><%= image_tag "photo78.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo4.jpg"><%= image_tag "photo4.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo89.jpg"><%= image_tag "photo89.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo90.jpg"><%= image_tag "photo90.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo6.jpg"><%= image_tag "photo6.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo31.jpg"><%= image_tag "photo31.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo10.jpg"><%= image_tag "photo10.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo100.jpg"><%= image_tag "photo100.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo103.jpg"><%= image_tag "photo103.jpg"%></a></li><li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo11.jpg"><%= image_tag "photo11.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo79.jpg"><%= image_tag "photo79.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo80.jpg"><%= image_tag "photo80.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo14.jpg"><%= image_tag "photo14.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo87.jpg"><%= image_tag "photo87.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo88.jpg"><%= image_tag "photo88.jpg"%></a></li>  <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo36.jpg"><%= image_tag "photo36.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo15.jpg"><%= image_tag "photo15.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo67.jpg"><%= image_tag "photo67.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo68.jpg"><%= image_tag "photo68.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo16.jpg"><%= image_tag "photo16.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo64.jpg"><%= image_tag "photo64.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo66.jpg"><%= image_tag "photo66.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo17.jpg"><%= image_tag "photo17.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo18.jpg"><%= image_tag "photo18.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo71.jpg"><%= image_tag "photo71.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo72.jpg"><%= image_tag "photo72.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo19.jpg"><%= image_tag "photo19.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo69.jpg"><%= image_tag "photo69.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo70.jpg"><%= image_tag "photo70.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo20.jpg"><%= image_tag "photo20.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo12.jpg"><%= image_tag "photo12.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo75.jpg"><%= image_tag "photo75.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo76.jpg"><%= image_tag "photo76.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo21.jpg"><%= image_tag "photo21.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo7.jpg"><%= image_tag "photo7.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo22.jpg"><%= image_tag "photo22.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo23.jpg"><%= image_tag "photo23.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo81.jpg"><%= image_tag "photo81.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo82.jpg"><%= image_tag "photo82.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo3.jpg"><%= image_tag "photo3.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo79.jpg"><%= image_tag "photo79.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo80.jpg"><%= image_tag "photo80.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo24.jpg"><%= image_tag "photo24.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo25.jpg"><%= image_tag "photo25.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo27.jpg"><%= image_tag "photo27.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo5.jpg"><%= image_tag "photo5.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo28.jpg"><%= image_tag "photo28.jpg"%></a></li>
     <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo42.jpg"><%= image_tag "photo42.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo29.jpg"><%= image_tag "photo29.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo30.jpg"><%= image_tag "photo30.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo32.jpg"><%= image_tag "photo32.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo73.jpg"><%= image_tag "photo73.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo74.jpg"><%= image_tag "photo74.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo13.jpg"><%= image_tag "photo13.jpg"%></a></li>
     <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo41.jpg"><%= image_tag "photo41.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo33.jpg"><%= image_tag "photo33.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo62.jpg"><%= image_tag "photo62.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo63.jpg"><%= image_tag "photo63.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo34.jpg"><%= image_tag "photo34.jpg"%></a></li>
     <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo35.jpg"><%= image_tag "photo35.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo60.jpg"><%= image_tag "photo60.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo61.jpg"><%= image_tag "photo61.jpg"%></a></li>
     <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo37.jpg"><%= image_tag "photo37.jpg"%></a></li>
     <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo38.jpg"><%= image_tag "photo38.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo58.jpg"><%= image_tag "photo58.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo59.jpg"><%= image_tag "photo59.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo9.jpg"><%= image_tag "photo9.jpg"%></a></li>
     <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo39.jpg"><%= image_tag "photo39.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo56.jpg"><%= image_tag "photo56.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo57.jpg"><%= image_tag "photo57.jpg"%></a></li>
     <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo43.jpg"><%= image_tag "photo43.jpg"%></a></li>
     <li data-tags="Missouri"><a class="fancybox" rel="group" href="/assets/photo26.jpg"><%= image_tag "photo26.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo53.jpg"><%= image_tag "photo53.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo54.jpg"><%= image_tag "photo54.jpg"%></a></li>
     <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo44.jpg"><%= image_tag "photo44.jpg"%></a></li>
     <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo45.jpg"><%= image_tag "photo45.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo51.jpg"><%= image_tag "photo51.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo52.jpg"><%= image_tag "photo52.jpg"%></a></li>
     <li data-tags="Colorado"><a class="fancybox" rel="group" href="/assets/photo8.jpg"><%= image_tag "photo8.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo49.jpg"><%= image_tag "photo49.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo50.jpg"><%= image_tag "photo50.jpg"%></a></li>
     <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo46.jpg"><%= image_tag "photo46.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo84.jpg"><%= image_tag "photo84.jpg"%></a></li>
     <li data-tags="Colorado2"><a class="fancybox" rel="group" href="/assets/photo85.jpg"><%= image_tag "photo85.jpg"%></a></li>
     <li data-tags="Arizona"><a class="fancybox" rel="group" href="/assets/photo47.jpg"><%= image_tag "photo47.jpg"%></a></li>
</ul>